{% extends 'core/base.html' %}
{% block content %}
<h1 class="text-warning mt-4 border-bottom">MY PROJECTS</h1>
<div class="row">
<p class="text-center text-warning mt-4"><b>Click link below for the demo ----->>>></b> </p>
    <div class="col-sm-4 mt-3 offset-3">    
        <a href="" class="text-white btn btn-danger mb-4"><b>CURD Project</b></a><br>
        <a href="" class="text-white btn btn-danger mb-4"><b>Resume Project</b></a>        
    </div>
    <div class="col-sm-4 mt-3">        
        <a href="http://eshop-np.herokuapp.com" class="text-white btn btn-danger mb-4" target="_blank"><b>eShop for Ecommerce</b></a><br>
        <a href="http://eshopping-np.herokuapp.com" class="text-white btn btn-danger mb-4" target="_blank"><b>eShopping for Ecommerce</b></a><br>
       
    </div>
</div>
<div class="row">
    <div class="sm-8 offset-3">
     <a href="" class="text-white btn btn-danger mb-4"><b>eComproject for Ecommerce</b></a><br>
    </div>
</div>
{% endblock content %}

