{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="mt-4 text-white">
  <div class="row offset-4">
    <div class="text-center col-md-4">
      <img src="{% static 'core/images/pic1.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px"
        height="150px">
    </div>
    <div class="text-center col-md-4">
      <p class="text-white mt-5"><small>M.C.A, B.Sc (Math Hon’s),<br>Diploma in Financial Accounting, <br>Tally ERP.9,
          CCNA & MCP<br>
          mdabdussamad33@gmail.com<br>
          +977-9807148155<br>
          +977-9845097734</small>
      </p>
    </div>
  </div>

  <div class="border-bottom border-warning h-100 mt-4"></div>

  <div class="mt-3 text-white mx-6 text-justify">
    <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4 mx-4" style="line-height:1.5rem;">
      <p class="text-justify" style="text-indent: 100px;">
        I am <b class="text-warning">Md. Abdussamad</b> looking for a challenging position where I could be a productive
        and contributive member of the team or organization to utilize my 11 years work experience in the field of Material 
        Management, Financial Accounting, Document Control, System Support, Data Base Management, Office Administration and 
        Project Support Services.
      </p>

      <p>
        At present, I am serving as a web developer. I have 5 years of full-stack web development experience for global businesses, I offer the technical expertise if you are seeking for your web developer position.
      </p>

      <p>
        Since earning my Master's degree in computer application from Bangalore University, I have served as an accountant 
        in <b class="text-warning">Rising Construction</b>, store superviser in <b class="text-warning">Dabur</b>, purchase 
        executive in <b class="text-warning">Zimdra Industries</b> and web developer at <b class="text-warning"> Brownfield 
        Technologies</b>, one of the biggest premier digital marketing and web development firm. In this position, I have 
        led web development projects for clients in diverse indusries including technology, manufacturing, FMCG, Software, 
        hospitality, retail, ecommerce and financial Services.
      </p>

      <h5><u>TOTAL EXPERIENCE</u> : 16 Years</h5>

      <table class="table table-bordered text-white mt-4">
        <thead class="text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">COMPANY NAME</th>
            <th scope="col">DESIGNATION</th>
            <th scope="col">DURATION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Brownfield Technologies</td>
            <td>Web Developer</td>
            <td>June 2015 to Till Date</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Zimdra Industries Pvt. Ltd., Bhutan</td>
            <td>Store Cum Purchase Executive</td>
            <td>April 2012 to May 2015</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Dabur Nepal Pvt. Ltd., Nepal</td>
            <td>Store Supervisor</td>
            <td>July 2007 to Aug 2009</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>The Rising Construction, Nepal</td>
            <td>Accountant</td>
            <td>March 2002 to May 2007</td>
          </tr>
        </tbody>
      </table>

      <h5><u>PERSENT COMPANY</u>: <small>Brownfield Technologies</small></h5>
      <h6><u>Designation</u>: <small>Web Developer</small></h6>
      <h6><u>Company Profile</u>: <small>This is the renowned software company which is situated in Birgunj.</small>
      </h6>

      <h5><u>Job Responsibility</u></h5>
      <ul>        
        <li>Website and software application designing, building, or maintaining.</li>
        <li>Using scripting or authoring languages, management tools, content creation tools, applications, and digital media.</li>
        <li>Conferring with teams to resolve conflicts, prioritize needs, develop content criteria, or choose solutions.</li>
        <li>Directing or performing Website updates.</li>
        <li>Developing or validating test routines and schedules to ensure that test cases mimic external interfaces and address all browser and device types.</li>
        <li>Editing, writing, or designing Website content, and directing team members who produce content.</li>
        <li>Maintaining an understanding of the latest Web applications and programming practices through education, study, and participation in conferences, workshops, and groups.</li>
        <li>Back up files from Web sites to local directories for recovery.</li>
        <li>Identifying problems uncovered by customer feedback and testing, and correcting or referring problems to appropriate personnel for correction.</li>
        <li>Evaluating code to ensure it meets industry standards, is valid, is properly structured, and is compatible with browsers, devices, or operating systems.</li>
        <li>Determining user needs by analyzing technical requirements.</li>
      </ul>

      <h5><u>PREVIOUS COMPANY</u>: <small>Zimdra Industries Pvt. Ltd.</small></h5>
      <h6><u>Designation</u>: <small>Store cum Purchase Executive</small></h6>
      <h6><u>Company Profile</u>: <small>Zimdra Food Pvt. Ltd., Zimdra Automobile and Zimdra Impex is a part of Zimdra
          Industries and is being governed by the Royal Family of Bhutan.</small></h6>

      <h5><u>Job Responsibility</u></h5>
      <ul>
        <li>Data-loading into Material-master.</li>
        <li>Vendor-master, Customer-master, Bills of material, Stocks.</li>
        <li>Creation of new authorization for material types.</li>
        <li>Central purchasing as per Purchase Requisition.</li>
        <li>Invoice verification for all the purchases made.</li>
        <li>Inventory management of RM, PM and TETRAPAK SPARE PARTS.</li>
        <li>Classification and proper storing of materials.</li>
        <li>Physical inventory taking.</li>
        <li>Reporting, Consignment handling.</li>
        <li>Inventory Management for finished products.</li>
        <li>Material Planning on the basis of work-orders.</li>
        <li>To Raise Purchase Order.</li>
        <li>Maintain Vendor Info records.</li>
        <li>To send enquiries.</li>
        <li>Negotiate Price and Terms with Vendors.</li>
        <li>To Follow-up with vendors.</li>
        <li>Dispatch Finish Goods & Maintain Stock.</li>
        <li>Prepare quarterly, half yearly and yearly Consumption/FG report.</li>
        <li>Analyzing the material consumption pattern and inform the management the variation.</li>
        <li>Waste management/Scrap auction to increase the misc. income of the company.</li>
      </ul>

      <h5><u>EDUCATIONAL QUALIFICATION</u></h5>
      <ul>
        <li>High School (10th) from B.S.E.B Patna in 1990 with 63.44%</li>
        <li>Higher Secondary (12th) from B.I.E.C Patna(1990-1992) with 60.88%</li>
        <li>B.Sc. (Maths) from B.S.B.R.A. University Muzafferpur(1993-1997) with 55.88%</li>
        <li>M.C.A from Bangalore University (1998-2002) with 61.00%</li>
      </ul>

      <h5><u>ACCOUNTING SKILL</u></h5>
      <ul>
        <li>Tally.ERP 9(Certification No.: 25820804)</li>
        <li>MS_Excel</li>
        <li>SAP- Module Material Management (MM)</li>
        <li>Diploma in Financial Accounting(DFA)</li>
      </ul>

      <h5><u>COMPUTER EDUCATION AND CERTIFICATION</u></h5>
      <p>GNetPro, IIHT, Infantry Rd, Bangalore, 2009 to 2010. Underwent Hardware and Networking Training CCNA, Red hat
        Linux, MCSA, Server +.</p>
      <ul>
        <li>CCNA: Certified by CISCO (Verification ID No. 405617688309 IMVH)</li>
        <li>MCP: Certified by Microsoft (Microsoft Certification ID: 7785573)</li>
        <li>RED HAT LINUX: RH033, RH133, RH253 </li>
        <li>OS- Windows XP/7/8, SERVER 2003/12R2</li>
        <li>Tally, Ms_office </li>
      </ul>

      <h5><u>KEY SKILLS /STRENGTHS & ACHIEVEMENTS</u></h5>
      <ul>
        <li>Team Player </li>
        <li>Pleasing and assertive personality.</li>
        <li>Ability to manage any situation flexibly.</li>
        <li>Active target with a challenging attitude.</li>
        <li>Organize others’ feedback to innovate new ideas.</li>
        <li>Hard working, committed and goal oriented.</li>
        <li>Able to function well under pressure created by work demand.</li>
      </ul>

      <h5><u>PERSONAL INFORMATION</u></h5>
      <ul>
        <li>Permanent Address : Bahuwari, Ward No. 14, Birgunj, Parsa, Nepal</li>
        <li>Date of Birth : 23nd June. 1974</li>
        <li>Nationality : Neplease</li>
        <li>Marital status : Married</li>
        <li>Languages Known : English, Hindi, Nepali, Urdu, and Bhojpuri</li>
      </ul>

      <p>I hereby declare that all the above details are true to the best of my knowledge. </p>

    </div>
  </div>
  <div class="text-center mb-5">
    <a href="{% url 'contact' %}" class="btn btn-danger my-3 mr-5"><b>Hire Me</b></a>
    <a href="{% url 'contact' %}" class="btn btn-warning my-3"><b>Contact</b></a>
  </div>
</div>
{% endblock content %}