{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-2">
    <h1 class="text-warning mb-3 border-bottom">SERVICES</h1>   

    <div class="row text-center text-white mb-2">
        
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-2 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Creates innovative, effective websites that capture your brand, improve your conversion 
            rates, and maximize your revenue to help grow your business and achieve your goals.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-2 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Web development services are used to design, build, support, and evolve all types of 
            web-based software that bring about digital transformation and enhance business workflows.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-2 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Help to increase your bottom line with an SEO campaign that is specifically designed 
            for your business. Start earning more qualified search traffic to your website today with our search 
            engine optimization services.</p>
        </div>

    </div>

    <div class="row text-center text-white mb-2">

        <div class="col-sm-4">
            <i class="fab fa-android fa-2x mb-2 i-color"></i>
            <h3>Android</h3>
            <p class="ss-color">The prime aim of a service is to ensure that the application remains active in the 
            background so that the user can operate multiple applications at the same time.</p>
        </div>

        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-2 i-color"></i>
            <h3>iOS</h3>
            <p class="ss-color">iOS app development services include UX and UI design, implementation, QA, and 
            integration of applications for iPhones and iPads.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-2 i-color"></i>
            <h3>Advertising</h3>
            <p class="ss-color">Grow your business with digital advertising services with our complete suite of online 
            advertising services, we can help your company improve its brand awareness, sales, revenue, and more.</p>
        </div>

    </div>

    <div class="row text-center text-white mb-2">

        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x mb-2 i-color"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">Each logo designed by designers is customised for your business. 
            Designers interpret your brief and provide logo design concepts that are unique </p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-2 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">If you own a business of any size, web hosting is a necessity. An internet-connected world 
            means that businesses must have websites, even if the pages simply detail locations, contact information, 
            and hours of operation.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-headset fa-2x mb-2 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">SERVICES & TECHNICAL SUPPORT. We're a full service digital agency. We provide to our 
            clients specialised digital strategy.</p>
        </div>

    </div>

</div>
{% endblock content %}
 
